@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap');
:root {
  --crazy-color3: #BF1363;
  --crazy-color2: #231E23;
  --crazy-color5: #39A6A3;
  --crazy-color1: #DEEEEA;
  --crazy-colorDis: #e0e0e5;
  --boxRadius: 5px;
--shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);

--font1: 'Amatic SC', cursive;
--font2: 'Public Sans', sans-serif;

--paddingInfo: 1rem;

}

/*CSS reset start */

/*prevent the odd rendering*/
html{
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  :root {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    position: relative;
    font-family: system-ui, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    min-height: 100%;
  }
  
  body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    background-color: var(--crazy-color5);

  }

  html, body {
    height: 100%;
      max-width: 100%;
      overflow-x: hidden;
  }
  
  input,
  textarea,
  button {
    font-size: inherit;
    font-family: inherit;
  }

  /*CSS reset end */
  
  .container:before {
    position: absolute;
    content: 'Sum of All Digits';
    z-index: -1;

    top: -14px;
    left: 100px;

    color: var(--crazy-color2);
    background-color: var(--crazy-color5);
    font-family: var(--font1);
    font-size: 16vw;
  }




a:link {
  color: var(--crazy-color2);
  text-decoration: none;
}

a:hover {
  color: var(--crazy-color3);
}

.container {
  font-family: var(--font2);
  text-align: center;

  display: grid;
  gap: 1em;
  height: 100vh;
   grid-template-columns: 1.5em 1fr 1fr 1.5em;
   grid-template-areas: 
   "... header header ..."
   "... startTop tree ... "
   "... startTop tree ... "
   "... sumNine tree ..."
   "...  buttonReset buttonReset ..."
   "footer footer footer footer"
   ;
   justify-content: center;
 


}


footer {
  padding: 30px 0;

  color: var(--crazy-color2);
  background-color: var(--crazy-color5);
text-align: center;
  grid-area: footer;

}

.section-1 {   
  margin-top: 8em;
  padding: 2rem;
    grid-area: startTop;
    border-radius: var(--boxRadius);
   align-self: stretch;
    justify-self: end;


   display: grid;
   align-items: center;
   grid-template-columns: 1fr;
   grid-template-areas: 
   "inputNum"
   "info1";

   background-color: var(--crazy-color2);
   border-radius: var(--boxRadius);
   
  }


.info {
  color: var(--crazy-color5); 

}

.inputGroup {
  grid-area: inputNum;
  align-self: end;

}

.info1 {
  grid-area: info1;
  align-self: start;
 margin-top: 0.5rem;
}

.section-2 {
  
  padding: 0 1.3rem;
    border-radius: var(--boxRadius);
    grid-area: sumNine;
    justify-self: end;
    align-self: stretch;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "info2"
   /* "info3"*/
    "sumfunc";
    
    background-color: var(--crazy-color2);
    border-radius: var(--boxRadius);
  
    
}

.info2 {
  grid-area: info2;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  align-self: end;
}

.sumDigi {
  grid-area: sumfunc;
  align-self: start;
  padding: 0 1.3rem 1.3rem 1.3rem;

}

.reset {
    grid-area: buttonReset;
    border-radius: var(--boxRadius);
    justify-self: center;
}

.section-3 {
    grid-area: tree;
    border-radius: var(--boxRadius);
    justify-self: start;
    align-self: end;
    

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "info4"
    "sumTree";
    
    background-color: var(--crazy-color2);

}
/*.info3 {
  grid-area: info3;


}*/
.info4 {
  grid-area: info4;
  align-self: end;
  padding: 3rem 2.5rem 1rem 2.5rem;
}


.section-4 {
  padding: 0.5rem 2rem 2rem 2rem;
  justify-self: center;
  align-self: start;
  grid-area: sumTree;

}

#arrowSum {
  -webkit-animation: mover 0.5s infinite  alternate;
  animation: mover 0.5s infinite  alternate;
  font-family: var(--font1);
  font-size: x-large;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}


.magicButton {
  margin-top: 1rem;
}

#firstButton {
  margin-bottom: 1rem;
}


[class^="section-"] {
  color: var(--crazy-color1);
}




button:disabled  {
  background: var(--crazy-colorDis);
  cursor: default;
}

input {
    border-radius: 0.25rem;
    padding: 5px 10px;
    text-align: center;
    margin: 5px 10px;
    background-color: var(--crazy-color1);
    border: 2px solid currentcolor;

    font-size: 16px !important; /*prevent zoom on mobile*/
}


input:invalid {
  border: 4px solid var(--crazy-color3);
}
Input:invalid:focus {
  background-image: linear-gradient(var(--crazy-color1) 55%, var(--crazy-color3));
}


button:enabled {
  background-color: var(--crazy-color3);
  color: var(--crazy-color1);
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

button:enabled:hover {
  background-color: var(--crazy-color3);
  color: var(--crazy-color1);
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

button {
  cursor: pointer;
  margin: 5px;
  padding: 5px 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);


    color: var(--crazy-color2);
    background-color: var(--crazy-color1);
      border-radius: 0.25rem;
      border: none;
  
}

input:hover {
  background-color: var(--crazy-color1);
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }



textarea:focus, input:focus{
  outline: none;
}

.box {
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}
/*.box:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
} */

#numResult, #sumResult {
  background-color: var(--crazy-color2);
  text-align: left;

}

#tree1 {
  background-color: var(--crazy-color2);
  text-align: center;
}

/*Tooltip*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--crazy-color1);
  color: var(--crazy-color1);

  cursor: default;
  font-size: medium;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: var(--crazy-color1);
  color: var(--crazy-color2);
  text-align: left;
  border-radius: 6px;
  padding: 10px;
margin-left: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  top: 100%;  
  left: 50%;  
  margin-left: -60px; 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.emphText {
  color: var(--crazy-color1);
}



/*media Qs*/

  
@media only screen and (max-width: 946px) {

  .container:before {
    top: 28px;
    left: 45px;
  }
  .container {
    grid-template-columns: 1.5em 1fr 1.5em;
     grid-template-areas: 
     "... header  ..."
     "... startTop  ... "
     "... sumNine  ... "
     "... tree  ..."
     "...  tree  ..."
     "...   buttonReset ..."
     "footer footer footer"
     ;
     align-content: start;
  }

  .section-1 {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "info1"
    "inputNum";
   

    justify-self: center;
    align-self: end;
   
  }

  .section-2 {
    grid-template-columns: 1fr;

    grid-template-areas: 
    "info2"
    "sumfunc"
    "info4";
    justify-self: center;
    margin-top: 0;

  }

.section-3 {
    justify-self: center;
    
    margin-top: 0px;
    align-self: start;

  }

.section-4 {
  padding: 0.3rem 0 1.5rem 0;
}

  .info1 {
    margin-top: 0;
    padding-bottom: 1rem;
  }

  .info4 {
    padding-top: 2.2rem;
  }

 
  button {
    font-size: 0.9rem;
  }
  .tooltip .tooltiptext {
    width: 120px;
    font-size: 0.7rem;  
  }

  .tooltip .tooltiptext {
  
    top: -350%;  
    left: 50%;  
  }
}

/*@media only screen and (max-width: 600px) {
  .container {
    font-size: 0.8rem;
  }

  
} */

/* Acessibility */
h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  clip: rect(1px,1px,1px,1px);
}

/*a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  color: var(--crazy-color2);
  margin: 0 3px 0 5px;
}*/

#newWindow {
 
    vertical-align:super;  
    font-size: x-small;

}

#ebLinkFooter {
  color: var(--crazy-color2);
}
#ebLinkFooter:hover {
  color: var(--crazy-color3);
  text-decoration: underline;

}